.progress-bar-wrapper {
    position: relative;
    width: 280px;
    height: $progress-height;

    .progress-bar-label {
        position: absolute;
        left: 0;
        top: -1px;
        margin-left: 8px;
        margin-top: 0;
        color: $progress-bar-lable-color;
        font-size: .875rem;
        font-weight: 400;
    }
}

@import '@edx/paragon/scss/core/core.scss';