$progress-bar-color: #000;

.progress-bar-wrapper {
    position: relative;
    width: 280px;

    .progress-bar-label {
        position: absolute;
        left: 0;
        top: 0;
        font-size: .75rem;
        margin-left: 8px;
        color: #000;
    }
}

@import '~@edx/paragon/scss/core/core.scss';