//registry.npmjs.org/:_authToken=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
//gitlab.com/api/v4/projects/30727907/packages/npm/:_authToken=XzxCCzXBgdkWbCf2Fd-G
@avidkit:registry=https://gitlab.com/api/v4/projects/30727907/packages/npm/