@import 'components/shared/header/nav-header/nav-header.scss';
@import 'components/shared/header/dropdown-nav-header/dropdown-nav-header.scss';

.header-wrapper {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.right-side-wrapper {
  .pgn__searchfield {
    width: 280px;
    margin: 15px 0;
    .btn {
      padding: 9px 9px;
    }
  }
}
.left-side-container {
  @extend .d-flex, .flex-row, .align-items-center;
  padding-left: 36px;
}
.logo-container {
  height: 32px;
}
.sign-in-container {
  @extend .d-flex, .align-items-center;
  background-color: #f2f0ef;
  padding-right: 36px;
  .avatar-dropdown-wrapper {
    .dropdown-toggle::after {
      content: none;
    }
    .btn {
      padding: 4px;
    }
    .pgn__avatar {
      margin: unset !important;
      margin-inline-end: unset;
      margin-right: 5px !important;
    }
    .pgn__icon{
      margin-left: 0;
    }
    .dropdown-menu {
      min-width: 200px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 28px;
    }
    .dropdown-item {
      padding: 0.625rem 1rem;
      color: $gray-700;
      &:hover {
        color: $black;
      }
      &:last-child {
        color: $gray-500;
      }
    }
  }
}
