@import 'components/shared/header/nav-header/nav-header.scss';
@import 'components/shared/header/dropdown-nav-header/dropdown-nav-header.scss';

.header-wrapper {
  box-shadow: $card-ing-shadow;
  position: relative;
  z-index: 1;
}

.right-side-wrapper {
  .pgn__searchfield {
    width: 280px;
    margin: 15px 0;
    .btn {
      padding: 9px 9px;
    }
  }
}

.left-side-container {
  @extend .d-flex, .flex-row, .align-items-center;
  padding-left: 36px;
}

.logo-container {
  height: 32px;
}

.sign-in-container {
  @extend .d-flex, .align-items-center;
  height: 76px;
  background-color: #f2f0ef;
  padding-right: 36px;
  .avatar-dropdown-wrapper {
    .dropdown-toggle::after {
      content: none;
    }

    .btn {
      padding: 4px;
    }

    .pgn__avatar {
      margin: unset !important;
      margin-inline-end: unset;
      margin-right: 5px !important;
    }

    .pgn__icon {
      margin-left: 0;
    }

    .dropdown-menu {
      min-width: 200px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 28px;
    }

    .dropdown-item {
      padding: 0.625rem 1rem;
      color: $gray-700;

      &:hover {
        color: $black;
      }

      &:last-child {
        color: $gray-500;
      }
    }
  }
}
.hidden-top-mobile-header {
  height: 56px;
}
.mobile-header {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  box-shadow: $box-shadow-mobile;
  z-index: 11;
}
// .mobile-header {
//   z-index: 10;
//   position: relative;
//   box-shadow: $box-shadow-mobile;

//   .tablet-search {
//     width: 256px;
//     height: 44px;
//   }

//   .btn-icon-primary {
//     &:hover {
//       background-color: transparent;
//       color: $primary-500;
//     }

//     &:focus {
//       box-shadow: unset;
//     }
//   }
// }

// .mobile-menu-modal {
//   .pgn__modal-header {
//     display: none;
//   }

//   .pgn__modal-body {
//     padding: unset;
//     overflow-x: hidden;

//     &::after {
//       content: unset;
//     }

//     .pgn__modal-body-content {
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//     }
//   }

//   .btn-wrapper {
//     .email-title {
//       max-width: 259px;
//       @include line-break(1);
//       display: unset;
//     }

//     background-color: $light-200;

//     .btn {
//       font-weight: 500;
//       width: 100%;
//     }

//     .icon-forward {
//       svg {
//         padding: 4px 0;
//         color: $primary-500;
//       }
//     }
//   }

//   .mobile-nav-items {
//     color: $gray-700;
//     font-size: $font-size-base-sm;
//     list-style-type: none;
//     padding: 24px;
//     font-weight: 500;

//     .icon-forward {
//       svg {
//         padding: 5px 0;
//         color: $primary-500;
//       }
//     }

//     span {
//       color: $gray-700 !important;
//     }

//     li {
//       a {
//         color: $gray-700;
//       }
//     }
//   }

//   .btn-icon-primary {
//     color: unset;

//     &:focus {
//       color: unset;
//     }

//     &:hover {
//       background-color: unset;
//       color: unset;
//     }

//     &:active {
//       box-shadow: unset;
//     }
//   }
// }

// .subject-modal {
//   .pgn__modal-body {
//     padding: 0;
//   }

//   .pgn__modal-header {
//     display: none;
//   }

//   .pgn__modal-body-content {
//     .subject-header-wrapper {
//       box-shadow: 0px 2px 8px 0px #00000026;

//       .pgn__icon {
//         color: $primary-500;
//       }
//     }

//     .btn-outline-primary {
//       border-color: $light-300;
//       color: $gray-500;
//     }
//   }
// }

// .subject-items-list {
//   padding: 0;
//   font-size: $font-size-base-sm;
//   list-style-type: none;
//   margin-bottom: 12px;

//   li {
//     padding: 8px 0px;

//     a {
//       color: $gray-700 !important;
//       font-weight: 500;
//     }
//   }
// }
.mobile-search {
  border: 1px solid $light-300;
  border-radius: 8px;
}
.mobile-bottom-nav-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: $white;
  border-top: 1px solid $light-300;
  font-size: 11px;
  color: $gray-500;
  .active {
    background-color: unset !important;
    span {
      color: $brand-500 !important;
    }
  }
  span {
    color: $gray-500;
    line-height: 15px;
  }
}
@media (max-width: 1024px) {
  .right-side-wrapper {
    .pgn__searchfield {
      width: 44px;
      height: 44px;
      justify-content: center;
      border: 1px solid $light-300;
      .form-control {
        padding: unset;
      }
    }
  }
}
