.highlight-title {
  color: $brand;
}
.card-icon {
  @extend .mr-2;
  width: 20px;
  color: $gray-500;
}
.pgn__card {
  .btn-primary {
    width: 100%;
    color: $primary;
    background-color: $white;
    border-color: $light;
  }
  &:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 0px 8px rgba(0, 0, 0, 0.15);
    .btn-primary {
      background-color: $primary;
      color: $white;
    }
  }
}
.nav-tabs {
  border-bottom: unset;
  .nav-link {
    border-bottom: 2px solid #e9e6e4;
  }
}
