.search-header-wrapper {
  background: linear-gradient(270deg, #131628 0%, $primary-500 100%);
  // padding: 4rem 2.25rem;
  // min-height: 304px;
  .search-value-wrapper{
    // height: 124px;
  }
  .search-header {
    line-height: 1;
    width: auto;
    font-size: 3.75rem;
    font-weight: 700;
    color: $white;
  }
  .search-header-withSearch {
    font-size: 2.5rem;
  }
  .search-value {
    line-height: 1;
    font-size: 3.75rem;
    font-weight: 700;
    color: $white;
  }
  .trending-title {
    font-size: $font-size-base-sm;
    color: $light-500;
  }
  .chip-trend {
    background-color: $primary-300 !important;
    .pgn__chip__label {
      color: $white;
      font-size: $font-size-base-xs;
    }
  }
}
.discover-search-field {
  @include custom-search-field(573px);
}
.discover-body-wrapper {
  @include custom-breadcrumb($primary-500, $gray-500);
}
