@mixin center-vertically {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin line-break($line-clamp) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin custom-search-field($width) {
  .pgn__searchfield_wrapper {
    border: 1px solid $primary-700;
    border-radius: 4px;
    width: $width;
    &:hover {
      border-color: $primary-700;
    }
  }
  .pgn__searchfield__button {
    text-transform: capitalize;
    background-color: $brand !important;
    border-radius: 4px !important;
  }
  .form-control {
    font-size: $font-size-base-sm;
    height: 44px;
  }
}
@mixin custom-breadcrumb($color: $light-300, $active-color: $light-500) {
  .breadcrumb {
    background-color: unset;
    padding: 0;
    margin-bottom: 0;
    .pgn__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: unset;
        height: unset;
        color: $color;
      }
    }
    .active {
      a {
        color: $active-color !important;
      }
    }
    .breadcrumb-item {
      font-size: $font-size-base-xl;
      a {
        color: $color;
      }
      &::before {
        content: '' !important;
        color: $color;
      }
    }
  }
}
