
$font-size-base-sm:0.875rem;
$font-size-base-xl:1.125rem;
$font-size-base-xs:0.75rem;
$background-dark-blue: linear-gradient(270deg, #131628 0%, #262B54 100%);
$card-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 0px 8px rgba(0, 0, 0, 0.15);