.overview-email-title {
  font-size: $font-size-base-xl;
  color: $gray-500;
}
.avatar-wrapper {
  margin-top: 80px;
  .badge {
    @extend .d-flex, .align-items-center;
    line-height: unset;
    background-color: $primary-400;
  }
}
@media (max-width: 1024px) {
  .avatar-wrapper {
    margin-top: 24px;
    .mobile-header {
      margin-bottom: 10px;
    }
  }
}
