.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main-container {
    flex-grow: 1;
  }
  footer {
    margin-top: auto;
  }
}
header {
  z-index: 9;
}

@media (max-width: 768px) {
  .layout-container {
    padding-bottom: 58px;
  }
  .has-price-wrapper {
    margin-bottom: 94px;
  }
}
@media (max-width: 600px) {
  .layout-container {
    padding-bottom: 56px;
  }
  .has-price-wrapper {
    margin-bottom: 97px;
  }
}

