.partners-header {
  background: $background-dark-blue;
  h2 {
    color: $white;
  }
  .partners-search {
    @include custom-search-field(354px);
  }
  .banner-icons-wrapper {
    gap: 172px;
    padding-bottom: 40px;
    .pgn__icon {
      height: unset;
      width: 36px;
    }
    .icon-wrapper {
      @extend .d-flex,
        .flex-column,
        .justify-content-center,
        .align-items-center;
      color: $light-500;
    }
    span {
      font-weight: bold;
      font-size: $font-size-base-xl;
    }
    p {
      text-align: center;
      width: 300px;
      color: $light-500;
      min-height: 48px;
      line-height: 24px;
    }
  }
}
.icons-view-wrapper {
  .icon-view {
    .active {
      background: $brand-500;
      svg {
        color: $white;
      }
    }
    .pgn__icon {
      cursor: pointer;
      justify-content: center;
      display: flex;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: $gray-500;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.partners-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
  gap: 24px;
  .pgn__card-image-cap {
    padding: 0.5rem;
  }
  .pgn__card-section {
    padding: 1rem 1.5rem;
    background-color: $light-200;
  }
}
.icons-partner-wrapper {
  color: $gray-500;
  font-size: $font-size-base-sm;

  .pgn__icon {
    height: unset;
    width: 16px;
  }
}
.partners-list-wrapper {
  display: grid;
  gap: 16px;
  .pgn__card-section {
    padding: 1.5rem;
    background-color: $light-200;
  }
  p {
    @include line-break(2);
    font-size: $font-size-base-xl;
  }
  .btn-icon {
    width: 36px;
    height: 36px;
    background-color: $light-300;
    color: $gray-500;
    border-radius: 4px;
    &:hover {
      color: $gray-500;
    }
    .pgn__icon {
      height: unset !important;
      width: 20px !important;
    }
  }
}
