.course-info-top-container {
  background-color: $light-200;
  margin-inline: -100%;
  .course-info-top-wrapper {
    position: relative;
    padding-right: calc(320px + 72px);
    .course-institution {
      color: $gray-700;
      :hover {
        color: $gray-900 !important;
        text-decoration: underline !important;
      }
    }
    h1 {
      line-height: 44px;
    }
    P {
      width: 940px;
    }
  }
}
.course-info-breadcrumb {
  @include custom-breadcrumb($gray-700, $gray-500);
  .list-inline {
    margin-bottom: unset;
  }
}

.course-info-side-wrapper {
  position: sticky;
  width: 324px;
  top: 160px;
  margin-top: 170px;
  z-index: 10;
  float: right;
  .cards-wrapper {
    .card-icon {
      @extend .mr-2;
      width: 20px;
      color: $gray-500;
    }
    .btn-card-container {
      .btn {
        height: 44px;
        width: 100%;
      }
    }
    .pgn__icon {
      height: unset;
    }
    .pgn__card-image-cap {
      height: 204px;
    }

    .program-instructors-wrapper {
      width: 276px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        &::after {
          content: ', ';
        }
        &:last-child {
          &::after {
            content: '';
          }
        }
      }
    }
  }
}

.sticky-nav-wrapper {
  background-color: $light-300;
  position: sticky;
  top: 0;
  margin-inline: -100%;
  font-size: $font-size-base-xl;
  z-index: 9;
  ul {
    display: flex;
    margin-bottom: unset;
    list-style: none;
    padding-left: 0;
    li {
      margin-right: 32px;
      padding: 8px 0;
      button {
        border: unset;
        color: $gray-500;
      }
    }
  }
  .active-item {
    border-bottom: 2px solid $brand-500;
    button {
      font-weight: 500;
      color: $primary-500;
    }
  }
}
.about-wrapper {
  padding-top: 54px;
  margin-top: -14px;
  width: 1008px;
  .long-about-break {
    @include line-break(5);
  }
  .btn {
    color: $info-500;
  }
}
.what-learn-wrapper {
  margin-top: -32px;
  .what-learn-inside-wrapper {
    width: 1008px;
    background-color: $light-200;
    border-radius: 6px;
    padding: 32px;
    .items-wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      gap: 1rem;
    }
    p {
      font-size: $font-size-base-std;
    }
    .pgn__icon {
      color: $gray-500;
    }
  }
}
.requirements-wrapper {
  padding-top: 58px;
  margin-top: -10px;
  width: 1008px;
  .attention-wrapper {
    @extend .d-flex, .flex-column;
    padding: 24px;
    background-color: $warning-100;
    border-radius: 6px;
    .pgn__icon {
      color: $warning-300;
    }
  }
  .prerequisite-courses-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 24px;
    .pgn__card-image-cap {
      height: 92px;
    }
    .btn {
      width: 100%;
    }
  }
}
