.explore-courses-container {
  @extend .py-6;
  background-color: $light-200;
}
.nav-tabs {
  border-bottom: unset;
  .nav-link {
    border-bottom: 2px solid #e9e6e4;
  }
  .active {
    color: $gray-700 !important;
  }
  .nav-item {
    background-color: unset !important;
    color: $gray-500;
  }
}

.course-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 24px;
  .pgn__card {
    box-shadow: unset;
    .pgn__card-image-cap {
      height: 92px;
    }
    .pgn__card-section {
      display: flex;
      padding: 1.25rem 1.25rem 0 1.25rem;
    }
    .btn-primary {
      width: 100%;
      color: $primary;
      background-color: $white;
      border-color: $light;
    }
    &:hover {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15),
        0px 0px 8px rgba(0, 0, 0, 0.15);
      .btn-primary {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

@media (max-width: 1350px) {
  .course-container {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}
@media (max-width: 768px) {
  .course-container {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}
@media (max-width: 400px) {
  .course-container {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}
