@import 'components/overview-page/not-enrolled-course-card/NotEnrolledCourseCard.scss';
@import 'components/overview-page/recommended-programs/recommended-programs.scss';
@import 'components/overview-page/recommended-courses/recommended-courses.scss';
@import 'components/overview-page/avatar-info/avatar-info.scss';

.view-all-btn {
  border: unset;
  color: $info-500;
  font-size: 1.125rem;
  padding: 0;
  &:hover {
    background-color: unset;
  }
}

.overview-container {
  display: grid;
  grid-template-areas:
    'avatar-area avatar-area recommended-program-area'
    'overview-courses-area overview-courses-area recommended-program-area'
    'recommended-courses-area recommended-courses-area recommended-courses-area';
}
.avatar-wrapper {
  grid-area: avatar-area;
}
.overview-courses-wrapper {
  grid-area: overview-courses-area;
}
.recommended-program-wrapper {
  grid-area: recommended-program-area;
}
.recommended-courses-wrapper {
  grid-area: recommended-courses-area;
}
