.hero {
  background-color: $primary-700;
  white-space: pre-line;
}

.display-1 {
  @extend .mb-4;
  color: $white;
  width: 512px;
}

.hero-desc {
  @extend .text-light-300, .mb-4;
  font-size: 1.125rem;
  width: 728px;
}
.hero-image {
  object-fit: contain;
  width: 100%;
  max-height: 318px;
}
.hero-link,
.hero-link:hover,
.hero-link-icon {
  color: $accent-a;
  text-decoration: none;
  font-size: 1.125rem;
}
.hero-link-container {
  cursor: pointer;
}
.hero-search {
  @include custom-search-field(354px);
}
