@import '@edx/brand/paragon/fonts.scss';
@import '@edx/brand/paragon/variables.scss';
@import '@edx/paragon/scss/core/core.scss';
@import '@edx/brand/paragon/overrides.scss';

// Variables and mixins must come before other styles
@import './styles/variables';
@import './styles/mixins';


@import 'components/home-page/banner/banner.scss';
@import 'components/home-page/explorer-courses/explorer-courses.scss';
@import 'components/home-page/popular-subjects/popular-subjects.scss';
@import 'components/home-page/top-programs/top-programs.scss';
@import 'components/shared/shared.scss';
@import 'components/overview-page/overview.scss';
@import 'components/inProgress-page/inProgress.scss';



