.sort-btn {
  .btn {
    min-width: 159px;
    height: 36px;
    padding: 0;
    font-size: $font-size-base-sm;
    &::before {
      content: '';
      display: block;
      background: url('../../../assets/eye-icon.svg') no-repeat;
      width: 20px;
      height: 16px;
      float: left;
      margin: 0px 8px 0px -3px;
    }
    &::after {
      margin-left: 10px;
    }
  }
  .btn-outline-primary {
    border-color: $light-300;
    &:hover {
      border-color: $primary-500;
    }
    &:active {
      background-color: unset !important;
    }
    &:focus {
      &::before {
        position: unset !important;
        top: unset !important;
        right: unset !important;
        bottom: unset !important;
        left: unset !important;
        border: unset !important;
        border-radius: unset !important;
      }
    }
  }
  .btn-outline-primary.dropdown-toggle {
    background-color: unset;
  }
  .dropdown {
    &:hover {
      background-color: unset;
    }
  }
  .dropdown-menu {
    min-width: 10rem;
    padding: unset;
  }
  .dropdown-item {
    font-size: 1.125rem;
    padding: 0.375rem 1rem;
    color: $gray-700;
     &:active {
      font-weight: 700;
      background-color: unset;
      color: $black;
    }
  }
  .active {
    font-weight: 700;
    background-color: unset;
    color: $black; 
  }
}